<template name="comments">
  {{#each comments}}
    <div class="comment">
      <div class='comment-flag'>
        <img src="{{imgSrc}}" />
      </div>
      <div id="space-above-comment"></div>
      <div id='comment-container'>
        <div class='comment-time'>
          {{timeHeader}}
        </div>
        <div class='comment-body'>
          {{body}}
        </div>
      </div>
      {{#if wasBroadcast}}
        <div>
          This message was broadcast to the community
        </div>
      {{/if}}
    </div>
  {{/each}}
</template>
